        html {
            background-color: white;
        }

        body {
            height: 100%;
            background-color: rgb(245, 245, 245);
        }
        
        .align-middle {
         	vertical-align:middle;
         }

        #sidemenu {
            width: 20%;
            background-color: #330000;
            height: 100%;
            overflow: auto;
            float: left;
            z-index: 20;
            position: fixed;
            left: 0px;
        }

            #sidemenu #menu {
                color: #fff;
                text-align: right;
                list-style-type: none;
                /*margin-right: 20px;*/
                width: inherit;
                float: right;
            }

                #sidemenu #menu li {
                    width: 250px;
                    height: 45px;
                    font-size: 1.2em;
                    padding-right: 15px;
                    padding-top: 11px;
                    margin: auto;
                }

                    #sidemenu #menu li a {
                        text-decoration: none;
                        text-transform: uppercase;
                        
                        color: #fff;
                    }

                    #sidemenu #menu li:active {
                        border-left: 5px solid hsl(180,70%,55%);
                    }

                    #sidemenu #menu li:hover {
                        background-color: #635555;
                        border-left: 5px solid hsl(180,70%,55%);
                    }

        .logo {
            float: left;
        }

        #site-content {
            width: 80%;
            height: 100%;
            overflow: auto;
            float: left;
            z-index: 20;
            position: fixed;
            min-height: 600px;
            margin-left: 20%;
            padding-left: 10px;
        }